/* Global Layout Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #555;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #bbb;
  transition: all .5s;
}

a:hover {
  color: white;
}

/* Fixed Header Styles */
nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

#navbar .name {
  display: block;
  margin-right: auto;
  color: white;
}

#navbar li {
  padding: 10px;
}

/* Welcome Content Styles */
#welcome {
  padding-top: 30vh;
}

#welcome .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 5px 18px black;
}

#welcome h1 {
  margin: 10px 0;
  color: hsl(210, 100%, 60%);
}

#welcome p {
  color: hsl(210, 100%, 60%);
  font-weight: bold;
}
