/* Global Layout Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Permanent Marker", cursive;
  font-size: 1.1em;
  text-align: center;
  background: #727271;
  letter-spacing: 0.1em;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #727271;
  transition: all .5s;
}

a:hover {
  color: #ef6817;
}

.name a {
  color: #5f50fd;
}

/* Fixed Header Styles */
nav {
  width: 100%;
  background: #21201f;
  min-height: 30px;
  padding: 0 10px;
  position: fixed;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

#navbar .name {
  display: block;
  margin-right: auto;
  font-size: 1.2em;
}

#navbar li {
  padding: 5px 10px;
}

/* Welcome Content Styles */
#welcome {
  padding-top: 25vh;
  min-height: 100vh;
}

#welcome .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 5px 18px black;
}

#welcome h1 {
  margin: 10px 0;
  color: #21201f;
}

#welcome p {
  color: #383838;
  font-weight: bold;
}

/* Project Content Styles */
#projects {
  background: #21201f;
  min-height: 100vh;
}

.heading h2 {
  color: #5f50fd;
  padding-top: 35px;
}

.underline {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #727271;
  padding-top: 10px;
}

#project-container {
  padding-top: 30px;
  display: grid;
  width: 90%
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.project {
  height: 300px;
  width: 300px;
}

.project-image {
  height: 200px;
  width: 300px;
}
