/***** BASE STYLES *****/

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Josefin Slab', serif;
  /* font-family: 'Atomic Age', cursive; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-size: 16px;
}

header {
  height: 550px;
}

#about, #skills, #work {
  height: 550px;
}

#contact {
  height: 350px;
}

/***** GRID *****/

.full-width {
  width: 1224px;
  margin: 0 auto;
}

.half-width {
  width: 612px;
  float: left;
}

.third-width {
  width: 408px;
  float: left;
}

/***** HEADER ******/

header .full-width {
  padding-top: 50px;
  padding-left: 90px;
}

header {
  background-color: #E8E8E8;
}

header h1 {
  font-family: 'Atomic Age', cursive;
  font-size: 48px;
  text-transform: uppercase;
}

header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  width: 800px;
  padding-top: 100px;
}

header img {
  border: 5px solid black;
}

/***** ABOUT *****/

#about .full-width {
  padding-top: 50px;
  padding-left: 125px;
  padding-right: 125px;
}

#about h2 {
  font-family: 'Atomic Age', cursive;
  font-size: 36px;
  text-transform: uppercase;
}

#about p {
  line-height: 28px;
  letter-spacing: 1px;
  text-align: justify;
  padding-top: 30px;
  padding-right: 150px;
}

#about img {
  padding-top: 30px;
}

/***** SKILLS ******/

#skills {
  background-color: #E8E8E8;
}

#skills .full-width {
  padding-top: 20px;
  padding-left: 125px;
  padding-right: 125px;
}

#skills h2 {
  font-family: 'Atomic Age', cursive;
  font-size: 36px;
  text-transform: uppercase;
}

#skills img {
  display: block;
  margin: auto;
}

#skills h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

#skills p {
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 70px;
}

/***** WORK *****/

#work .full-width {
  padding-top: 20px;
  padding-left: 125px;
  padding-right: 125px;
}

#work h2 {
  font-family: 'Atomic Age', cursive;
  font-size: 36px;
  text-transform: uppercase;
}

#work img {
  display: block;
  margin: auto;
}

#work h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

#work p {
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 40px;
}

/***** CONTACT *****/

#contact {
  background-color: #E8E8E8;
}

#contact .full-width {
  padding-top: 30px;
  padding-left: 125px;
  padding-right: 125px;
}

#contact h2 {
  font-family: 'Atomic Age', cursive;
  font-size: 36px;
  text-transform: uppercase;
}

#contact p {
  line-height: 28px;
  letter-spacing: 1px;
}
